body
   {
      background-repeat:no-repeat;
      background-size: contain;
      background-color:rgba(101, 124, 0, 0.877);
   }
h1
   {
    font-family:Exotc350 Bd BT;
    color:rgb(247, 72, 107);
    font-size:xx-large;
    border: 15px solid khaki;
    border-style:groove;
    text-align: left;
    width:fit-content;
    outline-style: double;
    outline-color: black;
    text-align: center;
    text-shadow:1px 1px white, 2px 2px black;
    letter-spacing: 2px;
    font-variant-caps: small-caps;
   }
.one
   {
    border-radius: 5px;
    border-left: 6px solid lightgoldenrodyellow ;
    border-right: 3px solid lightgoldenrodyellow ;
    border-top: 3px solid lightgoldenrodyellow;
    border-bottom: 3px solid lightgoldenrodyellow;
    width: fit-content;
    
   }   
ul
   {
      font-family: Andalus;
      font-variant-caps:small-caps ;
      font-weight: normal;
      color:rgb(255, 255, 136);
      font-size: 25px;
      font-weight:bolder;
      text-shadow:none;
      letter-spacing: 2px;
   }
ol
   {
      font-family:Exotc350 Bd BT;
      font-variant-caps: small-caps;
      color:greenyellow;
      border: 5px solid lime;
      width:fit-content;
      border-radius: 5px;
   }
div
   {
      font-family: cursive;
      margin-top: 0px;
      color:purple;
      font-size:medium;
      text-shadow: none;
      border:2px solid white;
      background-color: rgba(255, 255, 255, 0.664);
   }
a
   {
      text-decoration: none;
      color:lightyellow;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
      font-size: large;
   }
h5,h4
   {
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin: 0px;
   }
.two
   {
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      color:orangered;
      font-size: medium;
   }